*{
    font-family: "Poppins", sans-serif;
}
.murecho {
    font-family: "Murecho", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
.item-left:hover{
    background-color:#cdd6e2;
}