
  .modal-dialog{
    margin-top: 0;
    margin: 0;
    width: 360px;
    height: 700px;
    
    /* margin: auto; */
  }
  .modal-content {
    border-radius: 0px;
    
  }
  li.no-space {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove any potential padding on the li */
  }
  
  li.no-space span {
    padding: 0; /* Ensure no padding on the span as well */
  }

  
  